body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
}

.left-rounded {
    border-radius: 12px 0 0 12px;
}

.right-rounded {
    border-radius: 0 12px 12px 0;
}

nav > a {
    border: 1px solid black;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.banner-image {
    height: 600px;  
    background-size: cover;
    background-position: bottom;
}

.banner-image-1 {
    background-image: url(https://i.pinimg.com/736x/44/94/d9/4494d9f9d91f5f3ff839a787f3a7810e.jpg);
}

.banner-image-2 {
    background-image: url(https://i.pinimg.com/736x/c6/a8/5b/c6a85bd2f517869e35ce0ece3ace8105.jpg);
}

.banner-image-3 {
    background-image: url(https://i.pinimg.com/736x/83/c3/23/83c323caee31b33e5071fdab604ba1f8.jpg);
}

.form-group {
    margin: 10px;
}

.content {
    height: 500px;
}

.form-content {
    display: flex;
    justify-content: space-around;
    margin: 8px;
    padding: 20px;
}

#result-form {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    flex-direction: column;
}

footer {
   text-align: center;
}

@media (max-width: 600px) {
    .header-wrapper {
        flex-direction: column;
    }

    .menu {
        text-align: center;
        width: 100%;
        flex-direction: column;
    }

    .logo {
        margin-bottom: 14px;
    }

    .left-rounded {
        border-radius: 12px 12px 0 0;
    }
    
    .right-rounded {
        border-radius: 0 0 12px 12px;
    }
}