body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
}

.left-rounded {
    border-radius: 12px 0 0 12px;
}

.right-rounded {
    border-radius: 0 12px 12px 0;
}

nav > a {
    border: 1px solid black;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.banner-image {
    height: 450px;  
    background-size: cover;
    background-position: bottom;
}

.banner-image-1 {
    background-image: url(https://picsum.photos/500);
}

.banner-image-2 {
    background-image: url(https://picsum.photos/501);
}

.banner-image-3 {
    background-image: url(https://picsum.photos/502);
}

.content {
    height: 500px;
}

footer {
   text-align: center;
}

@media (max-width: 600px) {
    .header-wrapper {
        flex-direction: column;
    }

    .menu {
        text-align: center;
        width: 100%;
        flex-direction: column;
    }

    .logo {
        margin-bottom: 14px;
    }

    .left-rounded {
        border-radius: 12px 12px 0 0;
    }
    
    .right-rounded {
        border-radius: 0 0 12px 12px;
    }
}